<%- include('../layouts/header')%>
    <%- include('../layouts/sidebar') %>

        <!--begin::Main-->
        <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
            <!--begin::Content wrapper-->
            <div class="d-flex flex-column flex-column-fluid">
                <!--begin::Toolbar-->
                <div id="kt_app_toolbar" class="app-toolbar pt-5">
                    <!--begin::Toolbar container-->
                    <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex align-items-stretch">
                        <!--begin::Toolbar wrapper-->
                        <div class="app-toolbar-wrapper d-flex flex-stack flex-wrap gap-4 w-100">
                            <!--begin::Page title-->
                            <div class="page-title d-flex flex-column gap-1 me-3 mb-2">
                                <!--begin::Breadcrumb-->
                                <ul class="breadcrumb breadcrumb-separatorless fw-semibold mb-6">
                                    <!--begin::Item-->
                                    <li class="breadcrumb-item text-gray-700 fw-bold lh-1">
                                        <a href="/dashboard" class="text-gray-500">
                                            <i class="ki-duotone ki-home fs-3 text-gray-400 me-n1"></i>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                    </li>
                                    <a href="/dashboard">
                                        <li class="ms-2 breadcrumb-item text-gray-700 fw-bold lh-1">Dashboard</li>
                                    </a>
                                    <li class="breadcrumb-item">
                                        <i class="ki-duotone ki-right fs-4 text-gray-700 mx-n1"></i>
                                    </li>
                                    <a href="/viewuser">
                                        <li class="ms-2 breadcrumb-item text-gray-700 fw-bold lh-1">User</li>
                                    </a>
                                </ul>
                                <h1
                                    class="page-heading d-flex flex-column justify-content-center text-dark fw-bolder fs-1 lh-0">
                                    Users Record</h1>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="kt_app_content" class="app-content flex-column-fluid">
                    <div id="kt_app_content_container" class="app-container container-fluid">
                        <div class="card">
                            <div class="card-header border-0 pt-6">
                                <div class="card-title">
                                    <div class="d-flex align-items-center position-relative my-1">
                                        <i class="ki-duotone ki-magnifier fs-3 position-absolute ms-5">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                        </i>
                                        <input type="text" data-kt-customer-table-filter="search"
                                            class="form-control form-control-solid w-250px ps-13"
                                            placeholder="Search Users" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table align-middle table-row-dashed fs-6 gy-5" id="cuisines-table">
                                    <thead>
                                        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                            <th class="min-w-25px">Sr.No.</th>
                                            <th class="min-w-125px">Username</th>
                                            <th class="min-w-125px">Email</th>
                                            <th class="min-w-125px">Phone</th>
                                            <th class="min-w-125px">Verified</th>
                                            <th class="min-w-125px">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fw-semibold text-gray-600">
                                        <% let cnt=1 %>
                                            <% myuser.forEach(function(showuser){ %>
                                                <tr>
                                                    <td>
                                                        <div>
                                                            <%=cnt++ %>
                                                        </div>
                                                    </td>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#" class="symbol symbol-50px">
                                                                <img src="/<%= showuser.avatar %>"
                                                                    onerror="this.src='../../uploads/default-img.jpg'; this.alt='Default Image';"
                                                                    class="symbol-label galleryimg" />
                                                            </a>
                                                            <div class="ms-5">
                                                                <a href="#"
                                                                    class="text-gray-800 text-hover-primary fs-5 fw-bold"
                                                                    data-kt-ecommerce-product-filter="product_name">
                                                                    <%= showuser.firstname %>
                                                                        <%= showuser.lastname %>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#"
                                                                class="text-gray-800 text-hover-primary fs-5 fw-bold"
                                                                data-kt-ecommerce-product-filter="product_name">
                                                                <%= showuser.email %>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#"
                                                                class="text-gray-800 text-hover-primary fs-5 fw-bold"
                                                                data-kt-ecommerce-product-filter="product_name">
                                                                <%= showuser.phone %>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <a href="#"
                                                                class="text-gray-800 text-hover-primary fs-5 fw-bold"
                                                                data-kt-ecommerce-product-filter="product_name">
                                                                <% if (showuser.isVerified===1) { %>
                                                                    <span style="color: blue;">Yes</span>
                                                                    <% } else { %>
                                                                        <span style="color: red;">No</span>
                                                                        <% } %>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <% for(let i in loginData){ %>

                                                            <% if(String(loginData[i]._id)==locals.user.id) {%>

                                                                <% if(loginData[i].is_admin==1){ %>

                                                                    <span type="button"
                                                                        class="badge badge-light-primary fw-bold my-2 me-3 px-4 py-2 toggle-status-btn7 <%= showuser.is_active ? 'badge-light-primary' : 'badge-light-danger'%>"
                                                                        data-user-id7="<%= showuser._id %>"
                                                                        data-toggle-url7="/useractivation/<%=showuser._id %>/toggle">

                                                                        <%= showuser.is_active ? 'ACTIVE' : 'DEACTIVE'
                                                                            %>

                                                                            <% } else if(loginData[i].is_admin==0){ %>

                                                                                <a href="#" type="button"
                                                                                    data-bs-toggle="modal"
                                                                                    data-bs-target="#active"
                                                                                    class="badge badge-light-primary fw-bold my-2 me-3 px-4 py-2 toggle-status-btn7 <%=showuser.is_active ? 'badge-light-primary' : 'badge-light-danger'%>">

                                                                                    <%= showuser.is_active? 'ACTIVE'
                                                                                        : 'DEACTIVE' %>

                                                                                </a>

                                                                                <% } %>
                                                                                    <% } %>
                                                                                        <% } %>
                                                                    </span>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--end::Content container-->
                </div>
                <!--end::Content-->
            </div>
        </div>

        <!-- active-deactive modal -->
        <div class="modal fade" id="active" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel">
                            This is an Admin
                            Alert
                        </h4>
                        <div class="btn btn-icon btn-sm btn-active-light-danger ms-2" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i class="ki-duotone ki-cross fs-2"><span class="path1"></span><span
                                    class="path2"></span></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        You have no access to
                        active-deactive data,You are not
                        admin !!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Ok,
                            I got it</button>
                    </div>
                </div>
            </div>
        </div>



        <%- include('../layouts/aside') %>